<%- include('../header'); %>
<%- include('../menu'); %>
  <body>
	<div class="container col-sm-4 col-offset-4">
		<h2 class="mt-5 text-center"><span class="badge bg-secondary">N</span>Talk</h2>
		
	</div>
	
	<div class="container mt-5">
	<h4>Editar</h4>
		<form action="/contato/<%- id %>?_method=put" method="post">
			<div class="row">
			  <div class="col-sm-5">
				<input type="text" class="form-control" placeholder="Nome" name="contato[nome]"value="<%- contato.nome %>">
			  </div>
			  <div class="col-sm-5">
				<input type="email" class="form-control" placeholder="E-mail" name="contato[email]" value="<%- contato.nome %>">
			  </div>
			  <div class="col d-grid gap-2">
				<button type="submit" class="btn btn-success">Atualizar</button>
			  </div>
			</div>		
		</form>	
				
	</div>
 <%- include('../footer'); %>